<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}A Pdf App{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.2/examples/cover/cover.css">
        <!-- Add additional CSS in static file -->
        <style>
            body{
                background: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
                background-size: cover;
            }
        </style>
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                  <h3 class="masthead-brand">aPdfApp</h3>
                  <nav class="nav nav-masthead justify-content-center">
                    {% block menu %}{% endblock %}
                  </nav>
                </div>
            </header>
            
            <main role="main" class="inner cover">
                    <div class="">
                        {% block content %}{% endblock %}
                    </div>
            </main>
            
            <footer class="mastfoot mt-auto">
                <div class="inner">
                  <p>App using Django, by <a href="#">Gekko SAS</a>.</p>
                </div>
            </footer>
        </div>
    </body>
</html>