{% extends "common_base.html" %}
{% load static %}

{% block menu %}
<a class="nav-link" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
    <h1>Welcome {{ user.first_name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
            <p>{{ error }}</p>
        {% endif%}
        <button type="submit">Upload</button>
    </form>
    <hr>
    {% if documents %}
        <p>My Files ({{ documents|length }})</p>
        <div class="fileListContainer">
            {% for document in documents %}
                <p>{{ document.upload.name }} - {{ document.uploaded_at }} - {{ document.upload.size|filesizeformat }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p>No Files yet</p>
    {% endif %}
{% endblock %}